@import "tailwindcss";

body {
  cursor: none;
  overflow-x: hidden;

}

@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;
  
  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(35, 37, 40, 0.5),
    rgba(69, 70, 70, 0.5)
  );
  border-radius: 999px;
  border: 2px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    rgba(108, 108, 108, 0.8),
    rgba(65, 65, 65, 0.8)
  );
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(58, 58, 58, 0.6) #050505;
}


.chat-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 999px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}


.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}




* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}